@using Malakorp.MalakoMine.Client.Models
@model Task

@using (Html.BeginForm("Edit", "Malako"))
{
    @Html.ValidationSummary()

    <fieldset title="Tarefa">        
        @Html.HiddenFor(model => model.ID)
        @if (Model.RemainingWork != null) {
            @Html.HiddenFor(model => model.RemainingWork)
        }

        <div id="details" data-states='@Html.Action("GetReasons", new { id = Model.ID })'>
            <div class="editor-label">
                @Html.LabelFor(model => model.Hours)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Hours)
                @Html.ValidationMessageFor(model => model.Hours, "*")
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State, "*")
            </div>
            <div class="editor-field">
                @Html.DropDownListFor(model => model.State, Model.NextStates.ToSelectList())
            </div>

            <div id="taskReason">
                <div class="editor-label">
                    <label for="Reason">Reason</label>
                </div>
                <div class="editor-field">
                    <select id="Reason" name="Reason">
                        <option value=""></option>
                    </select>
                </div>
            </div>

            @if (Model.HasBugRelated) {
            <div id="bugReason">
                @Html.Action("BugReason", new { id = Model.ID })
            </div>
            }
        </div>

        <div id="comment">
            <div class="editor-label">
                @Html.LabelFor(model => model.Comment)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Comment)
            </div>
        </div>
        
        <div id="ok">
            <input type="submit" value="OK" />
        </div>
    </fieldset>
}